@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="form-group">
        <h3>注意事項</h3>
        <span>1.</span><label>請先輸入玩家名稱。</label>
    </div>
</div>
@using (Html.BeginForm("GameLobby", "Home", FormMethod.Post, new { Id = "formPlayerData" }))
{
    @Html.Hidden("PlayerName", null, new { Id = "hidePlayerName" });
}
<div class="row form-group">
    <div class="col-sm-4">
        <div class="row form-group">
            <label class="col-sm-4 control-label">名稱</label>
            <div class="col-sm-8">          
                <input type="text" id="txtPlayerName" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">             
                <button class=" btn btn-success" id="btnEnter">進入</button>
            </div>
            <div class="col-sm-8">
         
            </div>
        </div>
    </div>
    <div class="col-sm-8"></div>
</div>


@section scripts{
  
    <script>
        $('#btnEnter').on('click', function () {
            //var player = $.connection.webGameHub;
            //$.connection.hub.start().done(function () {
            //    player.server.connectToHub($('#txtPlayerName').val());
            //});
            $('#hidePlayerName').val($('#txtPlayerName').val());
            $('#formPlayerData').submit();
        });

    </script>
}

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@